<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "My Phoenix Github App" %></h1>
  <p>A productive web application that<br/>helps you find information about github users</p>
</section>

<section class="row">
  <article class="column">
    <a href="http://localhost:4000/api/data/trip4077" 
       target="_blank"
       class="btn btn-outline-dark btn-lg"
       style="font-size: 2rem; width: 100%"
       >
        Start Here 
    </a>
  </article>
</section>
